.navbar{
    background-color:seagreen !important;
   
}
.nav-item{
    color: white;
    font-size: 30px;
    cursor: pointer;
}
li{
    color: white;
    font-weight: bold;
    margin: 0 10px 0 10px;
}
/* li:hover{
    background-color: white;
    color: seagreen;
} */




